<form [formGroup] = "loginForm" (ngSubmit) = "submit()">
    <div class="container">
        <div *ngIf="responseDataSet?.mesgcode==1" class="alert alert-success" role="alert">
            <p>{{ responseDataSet.mesgtext }}</p>
        </div>
        <div *ngIf="responseDataSet?.mesgcode==2" class="alert alert-danger" role="alert">
            <p>{{ responseDataSet.mesgtext }}</p>
        </div>
        <h3><b>LOGIN FORM</b></h3>
        <div class="col-lg-6 mb-4">
            <input type="text" placeholder="Username" formControlName="username" class="form-control"
                [ngClass]="{'is-invalid' : submitted && validators['username'].errors }">
            <div *ngIf="submitted && validators['username'].errors" class="mb-0">
                <div *ngIf="validators['username'].errors['required']">Username is required</div>
                <div *ngIf="validators['username'].errors['pattern']">Username must contain letters (uppers or lower case), space or dot(.).</div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <input type="password" placeholder="password" formControlName="password" class="form-control"
                [ngClass]="{'is-invalid' : submitted && validators['password'].errors }">
            <div *ngIf="submitted && validators['password'].errors" class="mb-0">
                <div *ngIf="validators['password'].errors['required']">Password is required</div>
                <div *ngIf="validators['password'].errors['pattern']">Password must contain letters (uppers or
                    lower case), digits and some special characters.</div>
                <div *ngIf="validators['password'].errors['maxLength']">Password must contain at most 20 characters</div>
                <div *ngIf="validators['password'].errors['minLength']">Password must contain at least 8 characters</div>
            </div>
        </div>

        <div class="col-lg-12">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</form>
